
@{
    ViewBag.Title = "Dash";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<fieldset>

    @if (Session["AdminName"] != null)
    {
        <p>
            Welcome @Session["AdminName"].ToString();
        </p>
    }
</fieldset>