
@{
    ViewBag.Title = Session["AdminName"].ToString();
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<fieldset>

    @if (Session["AdminName"] != null)
    {
        <p>
            Chào @Session["AdminName"].ToString()
        </p>
    }
</fieldset>