body {
}


.index-description {
    max-width: 50px;
}

.detail-description {
    width: 800px;
}

input-description {
    line-height: 2em;
}



.btn-delete {
    margin:0;
    padding:0;
    width: 40px !important;
    display:inline-block !important;
}

/*Photo script*/
.photo {
    overflow: auto;
    width: 800px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


/* css for bill detail */
.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}